---
import type { Playlist } from '@/lib/data'


interface Props {
    playlist: Playlist
}

const {playlist} = Astro.props

const {
    id,
    albumId,
    artists,
    color,
    cover,
    title
} = playlist


const artistConvert = artists.join(", ")
---


<a href={"/#"} class="playlist-item flex flex-col relative overflow-hidden gap-2 hover:bg-zinc-600 rounded-md transition-all duration-300 shadow-lg hover:shadow-xl bg-zinc-800 w-44 p-2 pb-6">
    <picture class="flex-none aspect-square w-full h-auto">
        <img src={cover} alt={`image cover of ${title}`} class="object-cover w-full h-full rounded-md">
    </picture>
    <div class="flex flex-col truncate ">
        <p class="text-star font-medium ">{title}</p>
        <p class="text-zinc-400 text-start">{artistConvert}</p>
    </div>

</a>
